.container-fluid {
    width: 100%;
    padding-right: 100px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
}

.register {
    margin-left: 10px;
}
/*nav#sidebar {
    display: none;
}*/